

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
NODE_ENV = 
SESSION_SECRET =
PORT=
SQUARE_APPLICATION_ID = 
SQUARE_APPLICATION_SECRET = 
SQUARE_API_URL = 
SQUARE_STOCK_SYNC_CACHE_TTL =


STRIPE_SECRET_KEY = 
STRIPE_PUBLISHABLE_KEY =
STRIPE_WEBHOOK_SECRET = 
STRIPE_CLIENT_ID =
PLATFORM_COMMISSION_RATE =

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_CLIENT_ID_MOBILE =
GOOGLE_CLIENT_ID_ANDROID = 
GOOGLE_CLIENT_ID_IOS = 

FRONTEND_URL = 

RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
BACKEND_URL=
EMAIL_LOGO_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
GOOGLE_MAPS_API_KEY = 
MAPBOX_ACCESS_TOKEN = 

FIREBASE_SERVICE_ACCOUNT_JSON=